<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="img">
            <img src="../../../assets/Perfil-photo.jpeg" alt="Perfil-photo" class="img-fluid rounded-circle" id="photo">
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" id="text">
            <div id="title">
                <p class="h3">{{persona.nombre}} {{persona.apellido}}</p>
                <p class="h4">Full Stack Developer Jr.</p>
            </div>
            <div id="paragraph">
                <p>Mi nombre es Sofia Alvarez Rodero, tengo 20 años y soy <strong>Programadora Junior</strong> , por ahora me encuentro en etapa de formación desde 2021, aun no he trabajado en el rubro pero me interesa incursionar por el deasrrollo Front-End de aplicaciones web. Avanzando en la página, podrás encontrar <strong>educación</strong>, <strong>habilidades</strong> y <strong>proyectos</strong> que me han guiado hasta este camino.</p>
            </div>
        </div>
    </div>
</div>
