<footer>
    <div class="container-fluid">
        <p class="h2">¡Contáctame!</p>
        <div id="contact" class="row">
            <div class="text-center col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <a href="sofialvarezrodero97@gmail.com">
                    <button type="button" class="btn btn-dark">  
                        Contacto
                        <i class="bi bi-envelope-check-fill"></i>
                    </button>
                </a>
            </div>
            <div class="text-center col-xs-12 col-sm-6 col-md-6 col-lg-6">
                &#169; Creado por Sofia Alvarez Rodero (2023)
            </div>
        </div>  
    </div>
</footer>
