<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-brand" id="AP">
            <img alt="Argentina Programa" src="../../../assets/APLogo.png" id="logo">
            <h3>#YoProgramo</h3>
        </div>
        <div id="right">
            <div id="social">
                <a href="https://github.com/Sofii2301" class="nav-item">
                    <i class="bi bi-github"></i> 
                </a>
                <a href="https://www.instagram.com/sofi_alvarez.32/" class="nav-item">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="www.linkedin.com/in/sofi-alvarez-rodero" class="nav-item">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="sofialvarezrodero97@gmail.com" class="nav-item">
                    <i class="bi bi-envelope"></i>
                </a>
            </div>
            <button type="button" class="btn btn-dark" id="login">
                <a href="profile.html">
                    <i class="bi bi-person-fill"></i>
                </a>
            </button>
        </div>    
    </div>      
</nav>
<app-banner></app-banner>