<div class="container">
    <p class="h2">Educación</p>
    <div id="item" class="row">
        <div id="years" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="h1">2018</p>
            <i class="bi bi-arrow-down"></i>
            <p class="h1">2018</p>
        </div>
        <div id="info" class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <div id="title">
                <p class="h3">Escuela Superior de Comercio</p>
            </div>
            <div id="paragraph">
                <p>Cursado incompleto de Estudios Secundarios de Bachiller en Informática.</p>
            </div>
        </div>
    </div>
    <div id="item" class="row">
        <div id="years" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="h1">2019</p>
            <i class="bi bi-arrow-down"></i>
            <p class="h1">2020</p>
        </div>
        <div id="info" class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <div id="title">
                <p class="h3">Escuela de Educación Secundaria Nº12</p>
            </div>
            <div id="paragraph">
                <p>Cursado completo de Estudios Secundarios de Bachiller con orientación en Lenguas Extranjeras.</p>
            </div>
        </div>
    </div>
</div>
