<div class="container">
    <p class="h2">Experiencia</p>
    <div id="item" class="row">
        <div id="years" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="h1">2020</p>
            <i class="bi bi-arrow-down"></i>
            <p class="h1">2021</p>
        </div>
        <div id="info" class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <div id="title">
                <p class="h3">Kova Store</p>
                <p class="h4">Atención al cliente</p>
            </div>
            <div id="paragraph">
                <p>Venta de indumentaria en showroom "Kova Store" en Bahia Blanca</p>
            </div>
        </div>
    </div>
</div>